<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tinyurlservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tinyurlservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TinyUrlService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TinyUrlService</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TinyURLService.DAL.URLContext+UrlContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:dqv3qdbwv9.database.windows.net,1433;Initial Catalog=TinyURLService;Integrated Security=False;User ID=test@dqv3qdbwv9;Password=Admin123;Application Name=EntityFramework" Name="Data Source=tcp:dqv3qdbwv9.database.windows.net,1433;Initial Catalog=TinyURLService;Integrated Security=False;User ID=test@dqv3qdbwv9;Password=Admin123;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TinyURLService.DAL.URLContext+UrlContext, TinyURLService" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:dqv3qdbwv9.database.windows.net,1433;Initial Catalog=TinyURLService;Integrated Security=False;User ID=test@dqv3qdbwv9;Password=Admin123;Application Name=EntityFramework" Name="Data Source=tcp:dqv3qdbwv9.database.windows.net,1433;Initial Catalog=TinyURLService;Integrated Security=False;User ID=test@dqv3qdbwv9;Password=Admin123;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:dqv3qdbwv9.database.windows.net,1433;Initial Catalog=TinyURLService;Integrated Security=False;User ID=test@dqv3qdbwv9;Password=Admin123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:dqv3qdbwv9.database.windows.net,1433;Initial Catalog=TinyURLService;Integrated Security=False;user id=test@dqv3qdbwv9;password=Admin123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TinyURLServiceEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:dqv3qdbwv9.database.windows.net,1433;Initial Catalog=TinyURLService;Integrated Security=False;User ID=test@dqv3qdbwv9;Password=Admin123;Application Name=EntityFramework" Name="Data Source=tcp:dqv3qdbwv9.database.windows.net,1433;Initial Catalog=TinyURLService;Integrated Security=False;User ID=test@dqv3qdbwv9;Password=Admin123;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TinyURLService.TinyURLServiceEntities, TinyURLService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dqv3qdbwv9.database.windows.net,1433;Initial Catalog=TinyURLService;Integrated Security=False;User ID=test@dqv3qdbwv9;Password=Admin123;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TinyURLService.DAL.URLContext+UrlContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dqv3qdbwv9.database.windows.net,1433;Initial Catalog=TinyURLService;Integrated Security=False;User ID=test@dqv3qdbwv9;Password=Admin123;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TinyURLServiceEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/TinyUrlDB.csdl|res://*/TinyUrlDB.ssdl|res://*/TinyUrlDB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:dqv3qdbwv9.database.windows.net,1433;Initial Catalog=TinyURLService;Integrated Security=False;User ID=test@dqv3qdbwv9;Password=Admin123;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="TinyURLService.DAL.URLContext+UrlContext" />
  </ItemGroup>
</Project>